name: e2e

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  k8s-modules:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Setup Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Setup Kubernetes
        uses: helm/kind-action@99576bfa6ddf9a8e612d83b513da5a75875caced # v1.9.0
        with:
          version: v0.22.0
          node_image: kindest/node:v1.29.2
          cluster_name: kind
      - name: Install
        run: make install
      - name: Push module
        run: |
          timoni mod push ./examples/minimal oci://localhost:5000/minimal -v 1.0.0 --latest
      - name: Install module
        run: |
          timoni -n test apply nginx oci://localhost:5000/minimal
      - name: List modules
        run: |
          timoni list -A
      - name: Upgrade module with custom values
        run: |
          echo 'values: message: "e2e"' | timoni -n test apply nginx oci://localhost:5000/minimal -v 1.0.0 -f-
      - name: Upgrade module with debug values
        run: |
          timoni -n test apply nginx oci://localhost:5000/minimal -f ./examples/minimal/debug_values.cue
      - name: Inspect module
        run: |
          timoni -n test inspect resources nginx
          timoni -n test inspect module nginx
          timoni -n test inspect values nginx
      - name: Status module
        run: |
          timoni -n test status nginx
      - name: Uninstall module
        run: |
          timoni -n test delete nginx --wait

  k8s-bundles:
    env:
      NGINX_MODULE_URL: "oci://localhost:5000/nginx"
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Setup Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Setup Kubernetes
        uses: helm/kind-action@99576bfa6ddf9a8e612d83b513da5a75875caced # v1.9.0
        with:
          version: v0.22.0
          cluster_name: kind
      - name: Install
        run: make install
      - name: Push module
        run: |
          timoni mod push ./blueprints/starter ${NGINX_MODULE_URL} -v 1.0.0 --latest
      - name: Vet bundle
        run: |
          timoni bundle vet -f hack/tests/nginx_bundle.cue --runtime-from-env
      - name: Build bundle
        run: |
          timoni bundle build -f hack/tests/nginx_bundle.cue --runtime-from-env
      - name: Apply bundle
        run: |
          timoni bundle apply -f hack/tests/nginx_bundle.cue --runtime-from-env
      - name: Inspect bundle
        run: |
          timoni bundle status nginx
      - name: Delete bundle
        run: |
          timoni bundle delete nginx
