name: push-artifacts

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'RC version'
        required: true

permissions:
  contents: read

jobs:
  push-minimal:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Cosign
        uses: sigstore/cosign-installer@dc72c7d5c4d10cd6bcb8cf6e3fd625a9e5e537da # v3.7.0
      - name: Setup Timoni
        uses: ./actions/setup
      - name: Login to GHCR
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push blueprint starter
        run: |
          timoni mod push ./blueprints/starter oci://ghcr.io/stefanprodan/timoni/blueprints/starter \
          -v ${{ github.event.inputs.version }} --latest \
          -a 'org.opencontainers.image.licenses=Apache-2.0' \
          -a 'org.opencontainers.image.source=https://github.com/stefanprodan/timoni'  \
          -a 'org.opencontainers.image.description=Get started blueprint for timoni.sh modules.' \
          -a 'org.opencontainers.image.documentation=https://timoni.sh' \
          --sign cosign
      - name: Push minimal module
        run: |
          timoni mod push ./examples/minimal oci://ghcr.io/stefanprodan/timoni/minimal \
          -v ${{ github.event.inputs.version }} --latest \
          -a 'org.opencontainers.image.licenses=Apache-2.0' \
          -a 'org.opencontainers.image.source=https://github.com/stefanprodan/timoni' \
          -a 'org.opencontainers.image.description=A minimal timoni.sh module.' \
          -a 'org.opencontainers.image.documentation=https://timoni.sh' \
          --sign cosign
      - name: Push schemas
        run: |
          timoni artifact push oci://ghcr.io/stefanprodan/timoni/schemas \
          -f ./schemas -t ${{ github.event.inputs.version }} -t latest \
          -a 'org.opencontainers.image.licenses=Apache-2.0' \
          -a 'org.opencontainers.image.source=https://github.com/stefanprodan/timoni' \
          -a 'org.opencontainers.image.description=Timoni CUE schemas.' \
          -a 'org.opencontainers.image.documentation=https://timoni.sh' \
          --content-type="cue.mod/pkg" \
          --sign cosign
